$font-size: (
    "head-1": 48px,
    "head-2": 40px,
    "head-3": 24px,
    "title": 18px,
    "SUBTITLE-1": 16px,
    "subtitle-2": 14px,
    "body": 16px,
    "caption-1": 14px,
    "caption-2": 12px
);
$line-height: (
    "head-1": 60px,
    "head-2": 60px,
    "head-3": 36px,
    "title": 28px,
    "SUBTITLE-1": 24px,
    "subtitle-2": 20px,
    "body": 24px,
    "caption-1": 20px,
    "caption-2": 16px
);

$primary-color_teal: #59C8E0;
$primary-color_gray: #F8F8F8;
$secondary-color_basic: #178EA8;
$secondary-color_lighter: #59C8E0;
$secondary-color_link: #9CE4F2;
$secondary-color_link-lighter: #E0FAFF;
$ink-color_teal: #178EA8;
$ink-color_basic: #172B4D;
$ink-color_light: #6B778C;
$ink-color_lighter: #FFFFFF;
$background-color_lighter: #F8F8F8;
$background-color_footer: #2C3749;
